# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# Arquivos temporários
*.tmp
*.bak

# Modelos locais (caso não queira versioná-los)
models/data_splits.pkl 
models/amostra_data_splits.pkl 
models/modelo_xgboost_final.pkl
models/modelo_xgboost_final.ubj
models/shap_values_cache.pkl
models/amostra_shap_values_cache.pkl
models/amostra_modelo_xgboost_final.pkl
models/amostra_preprocess.pkl
models/amostra_modelo_xgboost_final.ubj
models/metadata.pkl
# models/*.ubj

# Dados grandes (caso não queira versioná-los)
data/acidentes_frota_17-25.csv